/*author: Tao Liu and Xi Chen
Describes the presentation of search_page.html*/
.brand-logo{
  font-weight: bold;
  font-family: 'Anton', sans-serif;
}
html{
  font-family: 'Raleway', sans-serif;
}

h3{
  font-weight: bold;
  margin: 50px 0px 0px 0px;
  display: inline-block;
}
.searchnav{
  width:40%;
  padding: 0px;
  margin-left:0px;
  position: relative;
  left:400px;
}
.button{
  position:relative;
  left:20px;
  bottom: 10px;
}
.content{
  margin-top: 15px;
}
.left-nav{
  position: relative;
  left:180px;
}
.dis{
  position: relative;
  left:25px;
}

.modal-close{
  float: right;
}

.carousel{
  margin-top: -80px;
  margin-bottom: -20px;
}
#search {
  position: relative;
  left:200px;
  top:5px;
}
form{
  display: inline-block;
}
#searchinput{
  height: 18px;
  color:black;
}
.material-icons{
  color: black;
}
input{
  position: relative;
  bottom:63px;
  left:35px;
}

.title-container{
  position: relative;
  bottom:20px;
  left:110px;
  width:80%;
}
#search-content{
	font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
}

.movie-list{
	margin-top: 30px;
  margin-bottom: 70px;
}

.title{
/*  display: inline;*/
	position: relative;
	bottom: 150px;
	left:50px;
}
.movie{
  height: 155px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #F9F9F9;
}
.movie-img{
  height: 100%;
}
.movie-info{
  display:inline-block;
  position: relative;
  bottom:178px;
  left:161px;
  margin-right: 10px;
}
.info{
  display: inline-block;
  margin-right:40px;
}
.description{
  display: inline-block;
  position: relative;
  left: 161px;
  bottom: 190px;
  width:80%;
}
.tag-container{
  display: inline-block;
}
.chip{
  margin-right:3px;
}
.star{
  position: relative;
  bottom:170px;
  left:150px;
}

a.info{
  color:black;
  position: relative;
  top:2px;
}
h6{
  display: inline;
}

.pag{
  position: relative;
  bottom:50px;

}
a.page-num{
  display: inline-block;
  width:40px;
}
li.waves-effect{
  padding: 0px 0px;
}
li.active{
  padding: 0px 0px;
}
a.link{
  text-decoration: underline;
}
a.genre{
  color: black;
}