/*author: Tao Liu and Xi Chen
Describes the presentation of index.html*/
.modal-body {
  height: 1000px;
}
#modal2, #modal3{
  width: 1000px;
}
.brand-logo{
  font-weight: bold;
  font-family: 'Anton', sans-serif;
}
html{
  font-family: 'Raleway', sans-serif;
}

h3{
  margin: 50px 0px 0px 0px;
  display: inline-block;
}
.searchnav{
  width:40%;
  padding: 0px;
  margin-left:0px;
  position: relative;
  left:400px;
}
.button{
  position:relative;
  left:20px;
  bottom: 10px;
}
.content{
  margin-top: 15px;
}
.left-nav{
  position: relative;
  left:180px;
}
.dis{
  position: relative;
  left:25px;
}
.modal-close{
  float: right;
}

.carousel{
  margin-top: -80px;
  margin-bottom: 20px;
}
#search {
  position: relative;
  left:200px;
  top:5px;
}
form{
  display: inline-block;
}
#searchinput{
  height: 18px;
  color:black;
}
.material-icons{
  color: black;
}
input{
  position: relative;
  bottom:63px;
  left:35px;
}
