html{
  font-family: 'Raleway', sans-serif;
}
.brand-logo{
  font-weight: bold;
  font-family: 'Anton', sans-serif;
}
nav{
  background-color: #EDF4ED;
}
h3{
  font-weight: bold;
  margin: 50px 0px 0px 0px;
  display: inline-block;
}
.searchnav{
  width:40%;
  padding: 0px;
  margin-left:0px;
  position: relative;
  left:400px;
}
.left-nav{
  position: relative;
  left:180px;
}
h5{
	position: relative;
	margin-top: 30px;
	display: inline-block;
}
#search-content{
	font-weight: bold;
}

.movie-list{
	margin-top: 30px;
  margin-right: 160px;
  margin-left: 160px;
}

.title{
	margin-top: 10px;
  padding-left: 20px;
}

.movie{
  height: 155px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #F9F9F9;
}
.movie-img{
  height: 150px;
  width: 200%;
  margin-left: -26px;
  margin-bottom: -123px;
}
.movie-info{
  display:inline;
  position: relative;
  bottom:170px;
  float:right;
  margin-right: 10px;
}
.info{
  display: inline-block;
  margin-right:40px;
}
.description{
  position: relative;
  left: 155px;
  bottom: 120px;
  width:1000px;
}

.chip{
  margin-right:3px;
}
.star{
  margin-top: -20px;
}

.row .col .second-row .first-col{
  margin-left: 20px;
  margin-top: 5px;
}

.row .col .second-row .second-col{
  margin-left: 20px;
  margin-top: 5px;
}

a.info{
  color:black;
  position: relative;
  top:2px;
}
h6{
  display: inline;
}
#search {
  position: relative;
  margin-left:600px;
  top:0px;
  width: 150px;
}
form{
  display: inline-block;
}
#searchinput{
  height: 18px;
  color:black;
}

.pagination {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}