<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
  <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% endblock %}
  <!-- Import other css files -->
  <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/image-picker.css" />
</head>

<body>
  <!-- start of navigation bar-->
  {% block navbar %}
  <nav class = "white z-depth-1">
    <div class="nav-wrapper container">
      <a href="#" class="left brand-logo cyan-text text-darken-4">MovieHub</a>

      <ul id="nav-mobile" class="hide-on-med-and-down option left-nav">
        <li class="active"><a href="#" class = "cyan-text text-darken-4">Recommendations</a></li>
        <li><a href="#" class = "cyan-text text-darken-4" >Game & Fun</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if not session.logged_in %}
          <li id="auto-trigger"><a id="signup-modal" class = "cyan-text text-darken-4 modal-trigger" href="#modal1" >Login</a></li>
        {% else %}
          <li><a class = "cyan-text text-darken-4" href="/logout" >Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}
  <!-- end of navigation bar-->
  <!--start of top rated -->
  <div class = "container">
    <div>
      <h3 class = "cyan-text text-darken-4">Top Rated</h3>
      <a class="waves-effect waves-light btn button">See More</a>
    </div>
  </div>
  <!--start of carousel container -->
  <div class="carousel">
    <a class="carousel-item" href="#one!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/GPWcgD">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#two!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/jYZqf1">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#three!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/NQTQDy">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#four!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/QI4f81">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#five!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/HcTBaX">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#one!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/GPWcgD">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#two!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/jYZqf1">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#three!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/NQTQDy">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#four!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/QI4f81">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#five!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/HcTBaX">
          </div>
        </div>
    </a>
   </div>
   <!--end of carousel container -->
   <!--end of top rated-->


  <!--start of favourite from last year -->
  <div class = "container content">
    <div>
      <h3 class = "cyan-text text-darken-4">Favorite from last year</h3>
      <a class="waves-effect waves-light btn button">See More</a>
    </div> 
  </div>
   <!--start of carousel container -->
  <div class="carousel">
    <a class="carousel-item" href="#one!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/GPWcgD">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#two!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/jYZqf1">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#three!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/NQTQDy">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#four!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/QI4f81">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#five!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/HcTBaX">
          </div>
        </div>
    </a>
   </div>
   <!--end of carousel container -->
   <!--end of favourite from last year -->

  <!--start of recent release -->
  <div class = "container content">
    <div>
      <h3 class = "cyan-text text-darken-4">Recent Release</h3>
      <a class="waves-effect waves-light btn button">See More</a>
    </div>
  <!--start of carousel container -->
  </div>
  <div class="carousel">
	  <a class="carousel-item" href="#one!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/GPWcgD">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#two!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/jYZqf1">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#three!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/NQTQDy">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#four!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/QI4f81">
          </div>
        </div>
    </a>
    <a class="carousel-item" href="#five!">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://goo.gl/HcTBaX">
          </div>
        </div>
    </a>
   </div>
   <!--end of carousel container -->
   <!--end of recent release -->

    <!-- footer -->
    {% block footer %}
    <footer class="page-footer cyan darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">MovieHub</h5>
            <p class="grey-text text-lighten-4">Personalized Movie Recommender</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">About MovieHub</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          2016 Copyright
        </div>
      </div>
    </footer>
    {% endblock %}
    <!-- start of modal 1, login form-->
    <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <a class="modal-action modal-close waves-effect waves-light btn">Close</a>
        <br>
        <br>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col s4 offset-s4">
            <img src="../static/img/people.png" height="200px">
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2">
            <p>Create your own account to record your preference. We will customize recommendations based on your interests.</p>
          </div>
        </div>
        <div style="text-align: center">
          <a class="waves-effect waves-light btn button" href="/login">Login with Facebook</a>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
    </div>
    <!-- end of modal 1, login form-->
    <!-- start of modal 2, channel preference form-->
    <div id="modal2" class="modal">
    <div class="modal-content">
      <div class="modal-header row">
        <div class="col s10 cyan-text text-darken-4">
          <h5>Choose 3 genres you like.</h5><h6> Then we will customize our recommendations for you.</h6>
        </div>
        <a class="col s2 waves-effect waves-light disabled btn button" style="margin-top: 20px;" id="continue1">Continue</a>
      </div>
      <div class="modal-body" style="margin-left: 20px">
        <select multiple="multiple" class="image-picker show-labels show-html">
          <option data-img-src="http://placekitten.com/180/200" value="1"><div class="genre">Crime</div></option>
          <option data-img-src="http://placekitten.com/180/200" value="2">Comedy</option>
          <option data-img-src="http://placekitten.com/180/200" value="3">Sci-Fi</option>
          <option data-img-src="http://placekitten.com/180/200" value="4">Thriller</option>
          <option data-img-src="http://placekitten.com/180/200" value="5">Romance</option>
          <option data-img-src="http://placekitten.com/180/200" value="6">History</option>
        </select>
      </div>
    </div>
    <div class="modal-footer"></div>
    </div>
    <!-- end of modal 2, channel preference form-->
    <!-- start of modal 3, movies preference form-->
    <div id="modal3" class="modal">
    <div class="modal-content">
      <div class="modal-header row">
        <div class="col s10 cyan-text text-darken-4">
          <h5>Choose 5 movies you like.</h5><h6> Then we will customize our recommendations for you.</h6>
        </div>
        <form method="post" action="{{ url_for('index') }}">
          <button type="submit" class="col s2 waves-effect waves-light disabled btn button" style="margin-top: 20px;" id="continue2">Finish</a>
        </form>
      </div>
      <div class="modal-body" style="margin-left: 20px">
        <select multiple="multiple" class="image-picker show-labels show-html">
          <option data-img-src="http://placekitten.com/180/200" value="1"><div class="genre">Roman Holiday</div></option>
          <option data-img-src="http://placekitten.com/180/200" value="2">The dark knight</option>
          <option data-img-src="http://placekitten.com/180/200" value="3">The godfather</option>
          <option data-img-src="http://placekitten.com/180/200" value="4">Toy story 1</option>
          <option data-img-src="http://placekitten.com/180/200" value="5">Hangover</option>
          <option data-img-src="http://placekitten.com/180/200" value="6">Forest Gump</option>
        </select>
      </div>
    </div>
    <div class="modal-footer"></div>
    </div>
    <!-- end of modal 3, movies preference form-->
    <!-- import js dependency -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/carousel.js"></script>
    <script src="../static/js/image-picker.js"></script>
    <!--This section of js code will only be executed when user has logged in but hasn't chosen their preferrences-->
    {%if session.logged_in  and not session.alread_choose_preference %}
    <script type="text/javascript">
      $(document).ready(function(){
        var count = 0;
        //open the modal2 after DOM is loaded
        $("#modal2").openModal({
          dismissible:false
        });
        document.getElementById("continue1").classList.add("continue");
        //image picker events
        $("select").imagepicker({
          show_label: true,
          clicked: function(){
            var clicked_list = $(this).val();
            count = clicked_list.length
            obj = document.getElementsByClassName("continue")[0];
            if (obj.id == "continue1"){
              if (clicked_list != null && clicked_list.length >= 3){
                obj.classList.remove("disabled");
              }else{
                obj.classList.add("disabled");
              }
            }else {
              if (clicked_list != null && clicked_list.length >= 5){
                obj.classList.remove("disabled");
              }else{
                obj.classList.add("disabled");
              }
            }
          }
        });
        //listen to click event on continue button in modal2
        $("#continue1").click(function(){
          if (count < 3){
            return;
          }
          document.getElementById("continue1").classList.remove("continue");
          document.getElementById("continue2").classList.add("continue");
          count = 0;
          $("#modal2").closeModal({
            complete: function() { 
              $("#modal3").openModal({
              dismissible:false
              });
            }
          });
          
        });
        //listen to click event on finish button in modal3
        $("#continue2").click(function(){
          if (count < 5){
            return;
          }
          $("#modal3").closeModal();
          session.alread_choose_preference = true;
        });
      })
    </script>
    <!--end of js code-->
    {% endif %}
</body>
</html>
