<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
  <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% endblock %}
  <!-- Import other css files -->
  <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
</head>

<body>
  <!-- navigation bar-->
  {% block navbar %}
  <nav class = "white z-depth-1">
    <div class="nav-wrapper container">
      <a href="#" class="left brand-logo cyan-text text-darken-4">MovieHub</a>

      <ul id="nav-mobile" class="hide-on-med-and-down option left-nav">
        <li><a href="#" class = "cyan-text text-darken-4">Recommend</a></li>
        <li><a href="#" class = "cyan-text text-darken-4" >Game</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html" class = "cyan-text text-darken-4">FAQ</a></li>
        {% if not session.logged_in %}
          <li><a id="signup-modal" class = "cyan-text text-darken-4 modal-trigger" href="#modal1" >Login</a></li>
        {% else %}
          <li><a class = "cyan-text text-darken-4" href="/logout" >Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}
<!--       top-rated -->
  <div class = "container">
    <div>
      <h3 class = "cyan-text text-darken-4">Top Rated</h3>
      <a class="waves-effect waves-light btn button">See More</a>
      <p class = "cyan-text text-darken-4 dis">Top rated movies according to our algorithm</p>
    </div>

    <div class = "row">
      <div class = "col s3">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ia.media-imdb.com/images/M/MV5BMTk1MTk4MDQ4OF5BMl5BanBnXkFtZTYwNDYyMzg4._V1_UY268_CR8,0,182,268_AL_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class = "col s3">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ia.media-imdb.com/images/M/MV5BMTczMTMyMTgyM15BMl5BanBnXkFtZTcwOTc4OTQyMQ@@._V1_UY268_CR4,0,182,268_AL_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class = "col s3">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ia.media-imdb.com/images/M/MV5BMTk5MjAyNTM4Ml5BMl5BanBnXkFtZTgwMjY0MDI0MjE@._V1_UX182_CR0,0,182,268_AL_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class = "col s3">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ia.media-imdb.com/images/M/MV5BMTgwMjI4MzU5N15BMl5BanBnXkFtZTcwMTMyNTk3OA@@._V1_UY268_CR9,0,182,268_AL_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--       top-rated -->
  <div class = "container content">
    <div>
      <h3 class = "cyan-text text-darken-4">Favorite from last year</h3>
      <a class="waves-effect waves-light btn button">See More</a>
      <p class = "cyan-text text-darken-4 dis">Top rated movies in 2015</p>
    </div>

    <div class = "row">
      <div class = "col s3">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ia.media-imdb.com/images/M/MV5BMTk1MTk4MDQ4OF5BMl5BanBnXkFtZTYwNDYyMzg4._V1_UY268_CR8,0,182,268_AL_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class = "col s3">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ia.media-imdb.com/images/M/MV5BMTczMTMyMTgyM15BMl5BanBnXkFtZTcwOTc4OTQyMQ@@._V1_UY268_CR4,0,182,268_AL_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class = "col s3">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ia.media-imdb.com/images/M/MV5BMTk5MjAyNTM4Ml5BMl5BanBnXkFtZTgwMjY0MDI0MjE@._V1_UX182_CR0,0,182,268_AL_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class = "col s3">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ia.media-imdb.com/images/M/MV5BMTgwMjI4MzU5N15BMl5BanBnXkFtZTcwMTMyNTk3OA@@._V1_UY268_CR9,0,182,268_AL_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--       top-rated -->
  <div class = "container content">
    <div>
      <h3 class = "cyan-text text-darken-4">Recent Release</h3>
      <a class="waves-effect waves-light btn button">See More</a>
      <p class = "cyan-text text-darken-4 dis">Movies released in 90 days</p>
    </div>

  </div>
  <div class="carousel">
	  <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
	  <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
	  <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
	  <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
	  <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
   </div>



<!-- footer -->
    {% block footer %}
    <footer class="page-footer cyan darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">MovieHub</h5>
            <p class="grey-text text-lighten-4">Personalized Movie Recommender</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">About MovieHub</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          2016 Copyright
        </div>
      </div>
    </footer>
    {% endblock %}
    <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <a class="modal-action modal-close waves-effect waves-light btn">Close</a>
        <br>
        <br>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col s4 offset-s4">
            <img src="../static/img/people.png" height="200px">
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2">
            <p>Create your own account to record your preference. We will customize recommendations based on your interests.</p>
          </div>
        </div>
        <div style="text-align: center">
          <a class="waves-effect waves-light btn button" href="/login">Login with Facebook</a>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/carousel.js"></script>
</body>
</html>
