html{
  font-family: 'Raleway', sans-serif;
}
nav{
  background-color: #EDF4ED;
}
h3{
  font-weight: bold;
  margin: 50px 0px 0px 0px;
  display: inline-block;
}
.searchnav{
  width:40%;
  padding: 0px;
  margin-left:0px;
  position: relative;
  left:400px;
}
.left-nav{
  position: relative;
  left:180px;
}
/*        new code*/
#search {
  position: relative;
  left:200px;
}
form{
  display: inline-block;
}
#searchinput{
  height: 18px;
}
#search input[type="text"] {
    color:#5F5A55;
    background: url(search-dark.png) no-repeat 8px 7px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width: 200px;
    padding: 6px 15px 6px 35px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
	h5{
		position: relative;
		margin-top: 30px;
		display: inline-block;
	}
	#search-content{
		font-weight: bold;
	}

	.movie-list{
		margin-top: 70px;
	}

	.title{
		position: relative;
		bottom: 133px;
		left:50px;
	}
.movie{
  height: 155px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #F9F9F9;
}
.movie-img{
  height: 100%;
  width:8%;
}
.movie-info{
  display: inline-block;
  position: relative;
  bottom: 90px;
  left:200px;
  margin-bottom: 40px;
}
.info{
  display: inline-block;
  margin-right:40px;
}
.description{
  position: relative;
  left: 155px;
  bottom: 133px;
  width: 1035px;
}
.brand-logo{
  font-weight: bold;
  font-family: 'Anton', sans-serif;
}
.tag-container{
  display: inline-block;
}
.chip{
  margin-right:3px;
}

.pagination li.active{
  background-color: #1b5e20;
}
.rateYo{
  position: relative;
  right:530px;
  top:30px;
}